NEXT_PUBLIC_GATEWAY_URL=https://your-api-gateway.example.com
NEXT_PUBLIC_USER_SERVICE_URL=https://your-user-service.example.com
NEXT_PUBLIC_COURSE_SERVICE_URL=https://your-course-service.example.com
NEXT_PUBLIC_ENROLLMENT_SERVICE_URL=https://your-enrollment-service.example.com
NEXT_PUBLIC_GRADE_SERVICE_URL=https://your-grade-service.example.com
